*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: 'SF Pro', system-ui, -apple-system, Roboto, 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
  Cantarell, 'Helvetica Neue', sans-serif;
}